{% spaceless %}
    {# embed socket.io #}
    <script type="text/javascript" src="{{ socketUrl }}/socket.io/socket.io.js"></script>

    {# embed URI.js #}
    <script type="text/javascript" src="{{ asset('bundles/nnproiframe/js/URI.js') }}"></script>

    <script type="text/javascript">
        {# jQuery is required #}
        (function($) {
            var SOCKET, TOTAL_PAGE_HEIGHT = 0, HANDSHAKE_PERFORMED = false, WAITING_TIMER = null;

            // reference the element to watch
            var watcher;

            // performs a handshake
            function performHandshake() {
                if (HANDSHAKE_PERFORMED) {
                    return;
                }

                SOCKET.emit('{{ nickname }}', {handshake: '{{ frameId }}'});
                window.setTimeout(performHandshake, 100);
            }

            // notifies the outer frame of the new height
            function pronounceNewHeight() {
                if (!HANDSHAKE_PERFORMED) {
                    // wait for handshake
                    if (WAITING_TIMER) {
                        window.clearTimeout(WAITING_TIMER);
                    }

                    WAITING_TIMER = window.setTimeout(pronounceNewHeight, 50);
                    return;
                }
                WAITING_TIMER = null;
                SOCKET.emit('{{ nickname }}', {height: TOTAL_PAGE_HEIGHT});
            }

            // checks the current page height
            function checkPageHeight() {
                var height = 0;

                watcher.each(function() {
                    height += parseInt($(this).height());
                });

                if (height != TOTAL_PAGE_HEIGHT) {

                    TOTAL_PAGE_HEIGHT = height;
                    pronounceNewHeight();
                }
            }

            // check all links and append a ?_nickname=...
            function checkLinks() {
                $('a').each(checkLink);
            }

            // checks a single link
            function checkLink() {
                var link = $(this),
                    href = link.attr('href');

                if (0 === href.indexOf('#')) {
                    return;
                }

                link.uri().addSearch('{{ nicknameParam }}', '{{ nickname }}');
            }

            // if we're not inside an iframe, we don't have to do anything
            if (window != window.top) { // @todo
                watcher = $('{{ selector|escape('js') }}');

                // connect to socket
                SOCKET = io.connect('{{ socketUrl }}');
                SOCKET.emit('set nickname', '{{ nickname }}');

                // listen on handshake
                SOCKET.on('{{ nickname }}', function(data) {
                    if (data.ack && data.ack == '{{ frameId }}') {
                        HANDSHAKE_PERFORMED = true;
                    }
                });

                performHandshake();
                checkLinks();

                $(document).ajaxComplete(checkLinks);

                window.setInterval(checkPageHeight, 100);
            }
        })(jQuery);
    </script>
{% endspaceless %}