(function() {
    var SOCKET, FRAMEWORK = 'none';

    // detect the framework
    function detectFramework() {
        if (typeof jQuery === 'function') {
            FRAMEWORK = 'jQuery';
        } else if (typeof Prototype === 'object') {
            FRAMEWORK = 'prototype';
        }
    }

    // fire an event
    function fireEvent(event) {
        var theEvent;
        if ('jQuery' === FRAMEWORK) {
            jQuery(document).trigger(event.name);
        } else if ('prototype' === FRAMEWORK) {
            document.fire(event.name, {name: event.name});
        } else if (document.addEventListener) {
            // real browsers
            theEvent = document.createEvent('UIEvents');
            theEvent.initEvent(event.name, true, false);
            document.dispatchEvent(theEvent);
        } else if (document.createEventObject) {
            // MSIE
            theEvent = document.createEventObject();
            theEvent.eventType = event.name;
            theEvent.eventName = event.name;

            if (document[event.name]) {
                document[event.name]();
            } else if (document['on' + event.name]) {
                document['on' + event.name]();
            }
        }
    }

    // resize the frame
    function resizeFrame(height) {
        if (!height) {
            return;
        }

        document.getElementById('{{ frameId }}').style['height'] = height + 'px';
    }

    // connect to the socket
    function connectSocket() {
        if (typeof io === 'undefined') {
            window.setTimeout(function() {
                connectSocket();
            }, 100);
            return;
        }
        detectFramework();

        SOCKET = io.connect('{{ socketUrl }}');
        SOCKET.emit('set nickname', '{{ nickname }}');

        SOCKET.on('{{ nickname }}', function(data) {
            if (data.handshake) {
                SOCKET.emit('{{ nickname }}', {ack: data.handshake});
                return;
            }
            if (data.height) {
                resizeFrame(data.height);
            }

            if (data.event) {
                fireEvent(data.event);
            }
        });
    }


    // start
    connectSocket();
}).call(window);